body {
  background-color: white;
  /* color: white; */
  font-family: "Verdana, Geneva, sans-serif";
}

.jumbotron {
  background-color: white;
  box-sizing: border-box;
  height: 100vh;
  /* background-color: gray; */
  /* background-image: url('../pics/collage.jpg'); */
  /* opacity: 0.3; */
}

/* .title, .sub-title {
  color: #2026BF;
} */

input {
  margin-top: 10vh;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: lightblue;
  /* height: 40px;
  width: 100px; */
}

img {
  height: 300px;
  width: 300px;
}