/* body {
  background-color: #DD0506;
  color: white;
} */

.jumbotron {
  box-sizing: border-box;
  height: 100vh;
  background-color: gray;
}

input {
  margin-top: 10vh;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: lightblue;
}

img {
  height: 300px;
  width: 300px;
}